language: php

php:
  - 5.5
  - 5.6

before_script:
  # Update Composer
  - composer self-update

  # Install Nette Tester
  - composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/tester tests -s
  - vendor/bin/phpcs --standard=standards.xml --extensions=php --encoding=utf-8 -sp src
