language: php

php:
  - 5.5
  - 5.6

before_script:
  # Update Composer
  - composer self-update

  # Install Nette Tester
  - composer install --no-interaction --prefer-source --dev

script: VERBOSE=true ./tests/run.sh -s tests/
