parameters:
    data_source_dir: %appDir%/DataSources/files/
    doctrine_dir: %data_source_dir%/doctrine/

    database:
        sqlite:
            driver: sqlite3
            file: %data_source_dir%users.s3db
            profiler: true

database:
    sqlite:
        dsn: sqlite:%database.sqlite.file%

services:
    ndb_sqlite: @database.sqlite
    dibi_sqlite: \Dibi\Connection(%database.sqlite%)

doctrine:
    driver: pdo_sqlite
    path: %database.sqlite.file%
    metadata:
        Grido\Tests\Entities: %doctrine_dir%/

extensions:
    console: Kdyby\Console\DI\ConsoleExtension

application:
    scanDirs: false

di:
    accessors: true
